
/*** CSS DE WE ARE COLOURS ***/

header{
    background-color: lightblue;
    @import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
    font-family: 'Zhi Mang Xing', cursive;
    color: red;
    text-shadow: gray 5px 0 0;
    text-align: center;
    letter-spacing: 8px;
}

/*** CSS DE LOS FONDOS ***/

    @media screen {
        html{
            background-color: lightcoral;
        }
    }

    @media (orientation: portrait){
        html{
            background-color: limegreen;
        }
    }

    @media (orientation: landscape){
        html{
            background-color: yellow;
        }
    }


    
/*** CSS DE WE KNOW COLOURS ***/  

tr.wkc{
    border: red;
    background-color: lightblue;
  
}
table {
    empty-cells: hide;
  }
    section.wkc{
        background-color: lightyellow;
    }

    ul {
        list-style-type: decimal;
      }


/*** CSS DEL FOOTER ***/

footer{
    background-color: lightslategrey;
    text-align: center;
}


span.centro{
    text-transform: uppercase;
    margin-right: 20%;
    margin-left: 20%;
}



/*** CSS DE LOS COLORES SON BONITOS ***/

section.lcsb{
    background-color: chocolate;
    color: yellow;
    text-align: center;
    border-color: orange red yellow red;
    border-width: 10px 20px;
    border-style: dotted solid dashed;
}


/*** CSS DE TEST COLOURS ***/

section.testcolours{
    background-color: lightsteelblue;
}

table.tc{
    background-color: chocolate;
}

hr.a{
    
    color: blue;
    border: red 2px;
    margin-left: 25%;
    margin-right: 25%;
}

tr {
    margin: 15px;
    padding: 15px;
  }
